nav {
  background-color: cornflowerblue;
}

.navbar-brand {
  color: black;
}

.title {
  margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.container-timer {
  margin-left: 85%;
  font-size: 20px;
  font-weight: bold;
}
.container {
  background-color: cornflowerblue;
  opacity: 0.8;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid;
  position: fixed;
  top: 30%;
  left: 9%;
}
.answer-container {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
  font-size: 14px;
  border: 2px solid bisque;
  border-radius: 25px;
}
.answer-container:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px 0 bisque;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.answer-prefix {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  background-color: seashell;
  border: 2px solid bisque;
  border-radius: 25px;
  font-size: 20px;
  padding-left: 2px;
  padding-right: 2px;
}
.answer-text {
  margin-left: 10%;
  padding-top: 15px;
  width: 100%;
}
.correct {
  background-color: chartreuse;
}

.incorrect {
  background-color: red;
}
/* .btn-list {
  display: grid;
  margin: 20px;
  gap: 10px;
  background-color: seashell;
  opacity: 0.6;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
}

#btn {
  border-radius: 25px;
  border: 2px solid bisque;
  background: seashell;
} */

#begin-btn {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 25px;
}

.control-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hud {
  display: flex;
  justify-content: space-around;
}

.hud-prefix {
  text-align: center;
  font-size: 20px;
  margin-top: auto;
}

.hud-main {
  text-align: center;
}

.hide {
  display: none;
}
