nav {
  background-color: cornflowerblue;
}

.navbar-brand {
  color: black;
}

.title {
  margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.container-timer {
  margin-left: 85%;
  font-size: 20px;
  font-weight: bold;
}
.container {
  background-color: cornflowerblue;
  opacity: 0.8;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid;
  position: fixed;
  top: 30%;
  left: 9%;
}
.btn-list {
  display: grid;
  margin: 20px;
  gap: 10px;
  background-color: seashell;
  opacity: 0.6;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
}

#btn {
  border-radius: 25px;
  border: 2px solid bisque;
  background: seashell;
}

#begin-btn {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 25px;
}

#next-btn {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid black;
}

.control-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
